body {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #1A1A1A;
	background: rgba(207, 207, 207, 0.1);
}

/* Utility */

.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

/* Grid элементы сетки на странице*/

.container {
	position: relative;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}