.header {
    padding-top: 22px;
    padding-bottom: 22px;

    /* background-image: url(./../../img/home/BG.jpg);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100vh; */
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    margin: 0 156px;
    font-weight: 400;
    color: #fff;
}

.header-nav ul {
    display: flex;
}


.header-nav li+li {
    margin-left: 60px;

}

li:first-child a {
    color: #D9C5B2;
}


.header-nav a {
    transition: color 0.2s ease;
}

.header-nav a:hover {
    color: #D9C5B2;
}


.header-call {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.phone {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #D9C5B2;
}

.call-answer {
    padding-right: 10px;
}

.call {
    font-size: 14px;
    line-height: 18px;
    color: #D9C5B2;
}